@import '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  padding: spacing(4) spacing(6);
  border-bottom: 1px solid $color-blue-500;

  .logo {
    width: spacing(6);
    cursor: pointer;
  }

  .account {
    display: flex;
    align-items: center;
    cursor: pointer;

    .username {
      font-size: $font-size-body1;
      color: $color-blue-700;
    }
  }
}
