@import '~src/app/theme/styles/variables.scss';

.root {
  display: flex;
  height: 100vh;
  overflow-x: hidden;

  .sidebar {
    width: auto;
  }

  .main {
    width: 100%;
    background-color: $color-near-white;
  }
}
