<div>
  <div class="head">
    <div class="select">
      <mat-select [(value)]="typeUuid" (selectionChange)="onChangeType($event)">
        <mat-option *ngFor="let option of selectOptions" [value]="option.uuid">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </div>

    <div class="badge">
      {{ overview }}
    </div>
    <div></div>
  </div>
  <div>
    <chart
      type="line"
      [data]="data"
      [options]="options"
      style="height: 350px;"
    ></chart>
  </div>
</div>
