@import '~src/app/theme/styles/variables.scss';

.list-object {
  display: flex;

  .object-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 8);
    padding: spacing(3) 0;
    border-right: 2px solid $color-white;
    background-color: $color-grey-50;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    &.active {
      background-color: $color-cyan-300;
    }
  }
}
