<!--<div style="display: flex;">-->
<!--  <div style="display: block;">-->
<!--    <canvas-->
<!--      baseChart-->
<!--      width="500"-->
<!--      height="300"-->
<!--      [datasets]="lineChartData"-->
<!--      [labels]="lineChartLabels"-->
<!--      [options]="lineChartOptions"-->
<!--      [colors]="lineChartColors"-->
<!--      [legend]="lineChartLegend"-->
<!--      [chartType]="lineChartType"-->
<!--      [plugins]="lineChartPlugins"-->
<!--    >-->
<!--    </canvas>-->
<!--  </div>-->
<!--  <div style="display: block;">-->
<!--    <canvas id="myChart" width="500" height="300"></canvas>-->
<!--  </div>-->
<!--</div>-->

<router-outlet></router-outlet>
